#page {
    min-height: 90vh;
    width: 65%;
    margin: 2em auto;
}

.page-title {
    text-align: center;
}

.resource-link:before {
    content: "🔗 ";
    margin-right: 6px;
}

.resource-link {
    color: black;
}

#article-error {
    width: 75%;
    font-size: 150%;
    margin: 2em auto;
    text-align: center;
}

#article-error code {
    color: red;
}

#content-error {
    margin-top: 1em;
    text-align: center;
    color: red;
    font-size: 150%;
}

#display-toggle {
    display: flex;
    max-width: 40%;
    margin: 1em auto;
}

@media (max-width: 700px) {
    #page {
        width: 95%;
    }

    #display-toggle {
        max-width: 80%;
    }
}

.topic {
    margin-top: 1em;
}

.topic-name {
    text-align: center;
}

.topic-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.resource-card {
    margin: 10px;
}

.md-window {
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0 0 30px 0 rgba(50, 50, 50, 0.6);
}

#content-index-jumbo {
    text-align: center;
}
